html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  color: #2c2c2c;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  position: relative;
  width: 100vw;
}

.grid-container {
  display: grid;
  grid-template-areas: 
                        'sidebar header header'
                        'sidebar content content'
                        'sidebar content content';
  grid-template-columns: 240px 1fr 1fr;
  grid-template-rows: 70px 1fr 1fr;  
  height: 100vh;
}

.header {  
  grid-area: header;  
  display: flex;
  align-items: center;
  justify-content: end;
  padding-left: 36px;
  padding-right: 36px;
}

.sidebar {  
  grid-area: sidebar;  
  display: flex;
  align-items: center;
  padding: 14px 30px;  
}

.sidebar nav {
  margin-top: -100px;
}

.content {  
  grid-area: content;  
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.mr-14 {
  margin-right: 14px;
}
.fw-500 {
  font-weight: 500;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.text-muted {
  color: #6c757d;
}

.img-fake {
  width: 40px;
  height: 40px;
  background: #cacaca;
  border-radius: 100%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.baseline-sidebar-text {
  position: absolute;
  bottom: 60px;
  left: 28px;
  font-weight: 500;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
